*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: 'Courier New', Courier, monospace;
}
img{
    height:100%;
}
/* header */
.header{
    padding: 5%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: baseline;
    background-color: #47bbfd;
    color: #f1f0f0;
}
/* game */
.game{
    padding:5%;
    display: grid;
    grid-template-columns: auto auto auto;
    grid-template-rows: auto auto;
    column-gap: 10px;
    row-gap: 10px;
}
.card{
    height:40vw;
    perspective: 1000px;
}
.card-inner{
    position:relative;
    height:100%;
    width:100%;
    transition: transform 0.8s;
    transform-style: preserve-3d;
}
.question-bg, .pic-bg{
    width:100%;
    height: 100%;
    position: absolute;
    backface-visibility: hidden;
}
.question-bg{
    background: url('../content/question.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.pic-bg{
    background-color: black;
    transform: rotateY(180deg);
}
.card:hover .card-inner{
    cursor: pointer;
    transform: rotateY(180deg);
}
